<title><% if (typeof title != "undefined") { %><%= title %> | NotaTex<%} else {%>Best note taking app | NotaTex<%}%></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/tcss.css' />

<link rel="icon" type="image/ico" sizes="256x256" href="/favicon.ico">

<%- include('jsUtils'); %>
<%- include('firebase'); %>

<!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <% if (themes[theme]["fonts"] !== undefined) { %>
        <% for (const font in themes[theme]["fonts"]) { %>
            <link href="<%- themes[theme]["fonts"][font] %>>" rel="stylesheet">
        <% } %>
    <% } %>

<script>
    window.addEventListener("load", function () {
        // set theme
        switch (getCookie("theme")) {
            <% for (const [key, value] of Object.entries(themes)) { %>
                case "<%- key %>":
                    document.body.classList.add("<%- value["class"] -%>");
                    break;
            <% } %>
        }
    });
</script>
